@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf), url(../fonts/OpenSans-Regular.eot);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Regular.ttf), url(../fonts/OpenSans-Regular.eot);
}

* {
    margin: 0px;
    padding: 0px;
    outline: none !important;
}

*:focus {
    outline: none !important;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

button:focus {
    outline: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

body {
    font-family: OpenSans-Regular !important;
    /* background-image: linear-gradient(to bottom, #ad88d7 , #8c3bd8); */
    /* background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

.max-width {
    max-width: 1440px;
    margin: auto;
}

.mgn-fr-hdr {
    margin-top: 62px;
}


/* 
.bx-shdw-brdus {
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.05);
}

.sub-tbs {
    flex: 1;
}

.btn-primary , .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary.focus, .btn-primary:focus {   
    background-color: transparent;
    border-color: white;
    box-shadow: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
    outline: 0;
}

p {
    font-size: 0.88rem;
}

 a span{
    padding-left: 3px;
    transition: all 0.3s ease-out;
}


 a:hover span{
    padding-left: 10px;
    transition: all 0.3s ease-out;
}


.btn {
    line-height: 1.2;
} */

.banner-sec {
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
    position: relative;
}

.banner-sec .bnr-img-sec {
    width: 90%;
}

.banner-sec .bnr-img-sec img {
    width: 100%;
}

.banner-sec .bnr-img-sec .indiv-img-blk {
    position: relative;
}

.banner-sec .bnr-img-sec .indiv-img-blk .blk-grdnt {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.banner-sec .bnr-cnt-sec {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 2;
    transform: translateY(-50%);
    max-width: 400px;
    min-width: 350px;
    /* background-color: #4376ef; */
    border-radius: 6px;
    padding: 60px 30px 100px;
    /* background-image: linear-gradient(to bottom, #ad88d7 , #8c3bd8); */
    background-image: url(../images/card-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-sec .hdr-cnt {
    position: absolute;
    bottom: 20px;
    right: 50px;
    z-index: 3;
    max-width: 400px;
}

.banner-sec .hdr-cnt .cnt-ttl,
.banner-sec .hdr-cnt .cnt-dspn {
    color: white;
    line-height: 1.2;
}

.banner-sec .bnr-cnt-sec .indiv-cnt-blk .cnt-ttl {
    color: white;
    margin-bottom: 20px;
}

.banner-sec .bnr-cnt-sec .indiv-cnt-blk .cnt-dspn {
    color: white;
    line-height: 1.3;
    margin-bottom: 20px;
}

.cnt-link {
    display: inline-block;
}

.cnt-link img {
    width: 35px;
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 0.3s ease-out;
}

.cnt-link:hover img {
    left: 10px;
}

.banner-sec .bnr-cnt-sec .arrow-lft,
.banner-sec .bnr-cnt-sec .arrow-rgt {
    position: absolute;
    width: 25px;
    bottom: 30px;
    right: 100px;
    cursor: pointer;
}

.csr-slider-section .arrow-lft,
.csr-slider-section .arrow-rgt {
    position: absolute;
    width: 25px;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    cursor: pointer;
    z-index: 5;
}

.banner-sec .bnr-cnt-sec .arrow-lft img,
.banner-sec .bnr-cnt-sec .arrow-rgt img {
    width: 100%;
}

.csr-slider-section .arrow-lft img,
.csr-slider-section .arrow-rgt img {
    width: 100%;
}

.banner-sec .bnr-cnt-sec .arrow-rgt {
    right: 30px;
}

.csr-slider-section .arrow-rgt {
    left: unset;
    right: 30px;
}

.banner-sec .bnr-cnt-sec ul.slick-dots {
    position: absolute;
    bottom: 0px;
    left: 20px;
    list-style: none;
}

.csr-slider-section ul.slick-dots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
}

.banner-sec .bnr-cnt-sec ul.slick-dots li {
    display: inline-block;
    margin: 0px 5px;
}

.csr-slider-section ul.slick-dots li {
    display: inline-block;
    margin: 0px 5px;
}

.banner-sec .bnr-cnt-sec ul.slick-dots li button {
    font-size: 0px;
    border: none;
    width: 15px;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.csr-slider-section ul.slick-dots li button {
    font-size: 0px;
    border: none;
    width: 15px;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.banner-sec .bnr-cnt-sec ul.slick-dots li.slick-active button {
    background: rgba(255, 255, 255, 1);
    width: 20px;
}

.csr-slider-section ul.slick-dots li.slick-active button {
    background: rgba(255, 255, 255, 1);
    width: 20px;
}

.csr-main-section {
    height: calc(100vh - 65px);
    overflow: auto;
    background-image: url(../images/project-background.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 50px;
    background-size: cover;
    margin: 0px 1.5rem;
}

.csr-main-section.milestonePageBgnd {
    background-image: url(../images/milestonePage-background.png);
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(255, 255, 255, 0.4);
}

.form-row {
    margin: 0px;
    margin-bottom: 10px;
}

.form-row label {
    color: white;
}

.form-row .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.7);
    color: white;
}

.form-row textarea.form-control {
    resize: none;
}

.form-row .form-control option {
    color: black;
}

.form-row .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-row .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
}

.form-row .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
}

.form-row .form-control::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
}

.csr-title {
    color: white;
    position: relative;
    display: inline-flex;
    padding-bottom: 0.5rem;
    margin-left: 20px;
}

.csr-title::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.form-row .csr-col-box {
    padding: 0px 20px;
}

.csr-input-Required {
    color: red;
    padding-left: 5px;
}

.hidden-feilds {
    margin-top: 20px;
}

.input-type-file {
    display: none;
}

.label-type-file {
    background-image: url(../images/choose-file.svg);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30px;
    cursor: pointer;
    background-size: contain;
}

.label-type-file.csr-tbl-lbl {
    white-space: nowrap;
    margin: 0;
}

.label-type-file.csr-tbl-lbl:hover {
    color: black;
}

.label-file-name {
    color: white;
    opacity: 0.6;
    font-size: 12px;
    display: block;
    text-align: center;
    position: relative;
    top: -5px;
}


/* table.csr-table {
  width: auto;
  white-space: nowrap;
  max-width: 100%;
  margin: 0px auto;
} */

table.csr-table {
    display: block;
    width: auto;
    overflow-x: auto;
}

.bootstrap-table.bootstrap4 {
    width: 100%;
}

table.csr-table tr th,
table.csr-table tr td {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    text-align: center;
    min-width: 150px;
}

table.csr-table tr th {
    background-color: rgba(255, 255, 255, 0.2);
}

button.csr-cstm-btn {
    color: white;
    border: 1px solid white;
    box-shadow: inset 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-out;
}

button.csr-cstm-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

button.csr-cstm-btn.red-bgnd:hover {
    background-color: rgba(200, 0, 0, 0.8);
    color: white;
    border-color: red;
}

button.csr-cstm-btn.blue-bgnd:hover {
    background-color: rgba(22, 57, 255, 0.8);
    color: white;
    border-color: rgb(85, 85, 255);
}

button.csr-cstm-btn.green-bgnd:hover {
    background-color: rgba(9, 152, 15, 0.8);
    color: white;
    border-color: #25e02c;
}

button.csr-cstm-btn.table-btn {
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    padding: 3px 10px;
}

.csr-table-icon {
    margin: 0px 10px;
}

.csr-table-icon img {
    width: 25px;
    transform: scale(1);
    transition: all 0.3s ease-out;
}

.csr-table-icon:hover img {
    transform: scale(1.2);
}

.bootstrap-table .fixed-table-container .table {
    border: none;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
    white-space: unset;
}

.bootstrap-table .fixed-table-pagination>.pagination-detail {
    color: white;
}

.bootstrap-table .fixed-table-pagination>.pagination ul.pagination a {
    background-color: transparent;
}

.page-item.active .page-link {
    border-color: white;
}

.page-item .page-link {
    color: orange;
    border: 1px solid rgba(222, 226, 230, 0.5);
}

.page-item .page-link:hover {
    color: white;
}

.pagination-detail .btn-secondary,
.pagination-detail .btn-secondary:not(:disabled):not(.disabled):active,
.pagination-detail .show>.btn-secondary.dropdown-toggle {
    background-color: transparent;
}

.pagination-detail .dropdown-item.active,
.pagination-detail .dropdown-item:active {
    background-color: orange;
}

.csr-slider-section {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 5;
    transition: all 0.3s ease-out;
}

.csr-slider-section.show {
    visibility: visible;
    opacity: 1;
}

.csr-slider-section .close-slider {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 80px;
    right: 20px;
    border-radius: 50%;
    z-index: 9;
    cursor: pointer;
}

.csr-slider-section .close-slider::before {
    content: '';
    position: absolute;
    left: 48%;
    width: 2px;
    top: 15%;
    transform: rotate(45deg);
    height: 70%;
    background: white;
}

.csr-slider-section .close-slider::after {
    content: '';
    position: absolute;
    left: 48%;
    width: 2px;
    top: 15%;
    transform: rotate(-45deg);
    height: 70%;
    background: white;
}

.csr-slider-section .slider-container {
    width: 100%;
    height: 100%;
    padding: 20px 30px 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.csr-slider-section .slider-container .slider-chld {
    display: flex;
    justify-content: center;
    align-items: center;
}

.csr-slider-section .slider-chld img {
    width: 50%;
}

.csr-slider-section .slick-slider .slick-list {
    top: 50%;
    transform: translate3d(0, 0, 0) translateY(-50%);
}