@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf), url(../fonts/OpenSans-Regular.eot);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Regular.ttf), url(../fonts/OpenSans-Regular.eot);
}

* {
  margin: 0px;
  padding: 0px;
  outline: none !important;
}

*:focus {
  outline: none !important;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

button:focus {
  outline: 0;
}

body {
  font-family: OpenSans-Regular !important;
  /* background-image: linear-gradient(to bottom, #ad88d7 , #8c3bd8); */
  /* background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

.max-width {
  max-width: 1440px;
  margin: auto;
}

.mgn-fr-hdr {
  margin-top: 65px;
}

/* 
.bx-shdw-brdus {
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.05);
}

.sub-tbs {
    flex: 1;
}

.btn-primary , .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary.focus, .btn-primary:focus {   
    background-color: transparent;
    border-color: white;
    box-shadow: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
    outline: 0;
}

p {
    font-size: 0.88rem;
}

 a span{
    padding-left: 3px;
    transition: all 0.3s ease-out;
}


 a:hover span{
    padding-left: 10px;
    transition: all 0.3s ease-out;
}


.btn {
    line-height: 1.2;
} */

.banner-sec {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  position: relative;
}

.banner-sec .bnr-img-sec {
  width: 90%;
}

.banner-sec .bnr-img-sec img {
  width: 100%;
}
.banner-sec .bnr-img-sec .indiv-img-blk {
  position: relative;
}

.banner-sec .bnr-img-sec .indiv-img-blk .blk-grdnt {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.banner-sec .bnr-cnt-sec {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 2;
  transform: translateY(-50%);
  max-width: 400px;
  min-width: 350px;
  /* background-color: #4376ef; */
  border-radius: 6px;
  padding: 60px 30px 100px;
  /* background-image: linear-gradient(to bottom, #ad88d7 , #8c3bd8); */
  background-image: url(../images/card-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-sec .hdr-cnt {
  position: absolute;
  bottom: 20px;
  right: 50px;
  z-index: 3;
  max-width: 400px;
}

.banner-sec .hdr-cnt .cnt-ttl,
.banner-sec .hdr-cnt .cnt-dspn {
  color: white;
  line-height: 1.2;
}

.banner-sec .bnr-cnt-sec .indiv-cnt-blk .cnt-ttl {
  color: white;
  margin-bottom: 20px;
}

.banner-sec .bnr-cnt-sec .indiv-cnt-blk .cnt-dspn {
  color: white;
  line-height: 1.3;
  margin-bottom: 20px;
}

.cnt-link img {
  width: 40px;
  display: inline;
}

.banner-sec .bnr-cnt-sec .arrow-lft,
.banner-sec .bnr-cnt-sec .arrow-rgt {
  position: absolute;
  width: 25px;
  bottom: 30px;
  right: 100px;
  cursor: pointer;
}

.banner-sec .bnr-cnt-sec .arrow-lft img,
.banner-sec .bnr-cnt-sec .arrow-rgt img {
  width: 100%;
}

.banner-sec .bnr-cnt-sec .arrow-rgt {
  right: 30px;
}

.banner-sec .bnr-cnt-sec ul.slick-dots {
  position: absolute;
  bottom: 0px;
  left: 20px;
  list-style: none;
}

.banner-sec .bnr-cnt-sec ul.slick-dots li {
  display: inline-block;
  margin: 0px 5px;
}

.banner-sec .bnr-cnt-sec ul.slick-dots li button {
  font-size: 0px;
  border: none;
  width: 15px;
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: all 0.3s ease-out;
}

.banner-sec .bnr-cnt-sec ul.slick-dots li.slick-active button {
  background: rgba(255, 255, 255, 1);
  width: 20px;
}
